<% if notice %>
    <h1><%= @response_type.capitalize %> error </h1>
    <p> <%= notice %> </p>
<% else %>
    <h1> Everything seems fine</h1>
    <p>
        Unless you refreshed the page. Go back to the
        <%= link_to "Tickets page", tickets_path %>
    </p>
<% end%>